<h1> Please log in </h1>

<form action='/SOMEPLACE' method='POST'>

		<p>Username</p>
    		<input id='username' name='user[username]' type='text' placeholder='username'/>

    	<p>Password</p>
    		<input id='password' name='user[password]' type='text' placeholder='password'/>
</br>
    	<input type="submit">
</br>
		<a href="/users/createaccount" class="button">Create Account</a>

 </form>