<h1> Please log in </h1>

<form action='/users/login' method='POST'>

		<p>Username</p>
    		<input id='username' name='user[username]' type='text' placeholder='username'/>

    	<p>Password</p>
    		<input id='password' name='user[password]' type='password' placeholder='password'/>
</br>
    	<input type="submit" class="btn btn-default" value="Log In">
</br>
		<a href="/users/createaccount" class="btn btn-default">Create Account</a>

 </form>