<form action='/all-post' method='post'>

		<p>Title</p>
    		<input id='title' name='post[title]' type='text' placeholder='title'/>

    	<p>Genre</p>
    		<label for="genre"></label>
    		<select name="post[genre]" id="genre">
      		<option value="fiction">Fiction</option>
      		<option value="non-fiction">Non-Fiction</option>
      		<option value="horror">Horror</option>
      		<option value="comedy">Comedy</option>
      		<option value="satire">Satire</option>
      		<option value="romance">Romance</option>
      		<option value="graphic-novel">Graphic Novel</option>
      		<option value="science-fiction">Science Fiction</option>
      		<option value="mystery">Mystery</option>
      		<option value="drama">Drama</option>
      		</select>


    	<p>Content</p>
    		<input id='content' name='post[content]' type='text' placeholder='content'/>
    	<input type="submit">

 </form>