<h1> Create Account </h1>
<form action='/SOMEPLACE' method='POST'>

		<p>Username</p>
    		<input id='username' name='username' type='text' placeholder='username'/>

    	<p>Password</p>
    		<input id='password' name='password' type='text' placeholder='password'/>

    	<p>E-mail</p>
    		<input id="email" name='email' type='text' placeholder='email'/>

    	<input type="submit">

 </form>