<h1> Create Account </h1>
<form action='/users/makeMePeople' method='post'>

		<p>Username</p>
    		<input id='username' name='user[username]' type='text' placeholder='username'/>

    	<p>Password</p>
    		<input id='password' name='user[password]' type='password' placeholder='password'/>

    	<p>E-mail</p>
    		<input id="email" name='user[email]' type='text' placeholder='email'/>
		</br>
    	<input type="submit" value= "Create">

 </form>