*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 0px;
	margin: 0px;
	
	
}

body {
	margin-top: 20%;

}

#post {
	border: 5px;
	border-color: #7BAE23;
	border-radius: 5px;
}

input#title{
	width: 40%;
	height: 30px;
}

input#content{
	width: 40%;
    height: 100px;
}

form {
	width: 75%;
	margin: 0 auto;
}

form.magic{
	display: inline;
}