<form action='/posts/createTheDamnPostIdiot' method='post'>

		<p>Title</p>
    		<input id='title' name='post[title]' type='text' placeholder='title'/>

    	<p>Genre</p>
    		<label for="genre"></label>
    		<select name="post[genre]" id="genre">
      		<option value="Fiction">Fiction</option>
      		<option value="Non-Fiction">Non-Fiction</option>
      		<option value="Horror">Horror</option>
      		<option value="Comedy">Comedy</option>
      		<option value="Satire">Satire</option>
      		<option value="Romance">Romance</option>
      		<option value="Graphic-Novel">Graphic Novel</option>
      		<option value="Science-Fiction">Science Fiction</option>
      		<option value="Mystery">Mystery</option>
      		<option value="Drama">Drama</option>
      		</select>


    	<p>Content</p>
    		<input id='content' name='post[content]' type='text' placeholder='content'/>
    	<input type="submit">

 </form>